.board {
	width: 12rem;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #000000;
	padding: 0;
}

.board li {
	list-style-type: none;
	width: 4rem;
	height: 4rem;
	border: 1px solid #000000;
	box-sizing: border-box;
}
