.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	height: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}