.square-button {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    cursor: pointer;
}

.square-button:disabled {
    color: #000000;
    background-color: #cccccc;
    cursor: default;
    border-style: dotted;
}
